<table>
  <tr>
    <th>No</th>
    <th>Question</th>
  </tr>
  <%- @questions.each_with_index do |q, ind| -%>
  <tr>
    <td><%= ind + 1 %></td>
    <td>
      <table>
        <tr>
        <td><p><%= q.content.html_safe %></p></td>
        </tr>
        <% option_answers_html_tag  = q.option_answers_html_tag %>
        <%- q.option_answers.each do |opt| -%>
        <tr>
          <td><%= option_answers_html_tag(opt.id) %> <%= opt.content %></td>
          <td><%= opt.answer %></td>
        </tr>
        <%- end -%>
      </table>
    </td>
  </tr>
  <%- end -%>
</table>
